<div [ngClass]="{ 'active-modal': showUpdateModal }">
  <div class="update-modal">
    <i
      class="fa fa-window-close menu-item"
      (click)="openUpdateModal()"
      (keyup.space)="openUpdateModal()"
    ></i>

    <h2 class="text-color">Atualizar dados do veículo</h2>

    <div class="d-flex justify-content-center">
      <app-message
        *ngIf="error == true"
        message="Código VIN inválido"
      ></app-message>
    </div>

    <div class="form-container">
      <form
        class="form mt-3 form-width"
        [formGroup]="updateForm"
        *ngIf="vehicleData$ | async as vehicleData; else elseblock"
        (ngSubmit)="update()"
      >
        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Código VIN"
            formControlName="vehicledata_vin"
            [ngModel]="vehicleData.vehicledata_vin"
            readonly
          />
          <app-message
            *ngIf="
        updateForm.get('vehicledata_vin')?.errors?.['required'] &&
        updateForm.get('vehicledata_vin')?.touched
      "
            message="Campo código VIN obrigatório"
          ></app-message>
          <app-message
            *ngIf="
        updateForm.get('vehicledata_vin')?.errors?.['minlength'] &&
        updateForm.get('vehicledata_vin')?.touched
      "
            message="O código VIN deve possuir 20 caracteres"
          ></app-message>
          <app-message
            *ngIf="
        updateForm.get('vehicledata_vin')?.errors?.['maxlength'] &&
        updateForm.get('vehicledata_vin')?.touched
      "
            message="O código VIN deve possuir 20 caracteres"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Odômetro"
            formControlName="vehicledata_odometer"
            [ngModel]="vehicleData.vehicledata_odometer"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_odometer')?.errors &&
              updateForm.get('vehicledata_odometer')?.touched
            "
            message="Campo odômetro obrigatório"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Nível de Combustível"
            formControlName="vehicledata_fuel_level"
            [ngModel]="vehicleData.vehicledata_fuel_level"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_fuel_level')?.errors &&
              updateForm.get('vehicledata_fuel_level')?.touched
            "
            message="Campo nível de combustível obrigatório"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Status"
            formControlName="vehicledata_status"
            [ngModel]="vehicleData.vehicledata_status"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_status')?.errors &&
              updateForm.get('vehicledata_status')?.touched
            "
            message="Campo status obrigatório"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Latitude"
            formControlName="vehicledata_lat"
            [ngModel]="vehicleData.vehicledata_lat"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_lat')?.errors &&
              updateForm.get('vehicledata_lat')?.touched
            "
            message="Campo latitude obrigatório"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Longitude"
            formControlName="vehicledata_long"
            [ngModel]="vehicleData.vehicledata_long"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_long')?.errors &&
              updateForm.get('vehicledata_long')?.touched
            "
            message="Campo longitude obrigatório"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Status da Bateria"
            formControlName="vehicledata_battery_status"
            [ngModel]="vehicleData.vehicledata_battery_status"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_battery_status')?.errors &&
              updateForm.get('vehicledata_battery_status')?.touched
            "
            message="Campo status da bateria obrigatório"
          ></app-message>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Pressão dos pneus"
            formControlName="vehicledata_tire_pressure"
            [ngModel]="vehicleData.vehicledata_tire_pressure"
          />
          <app-message
            *ngIf="
              updateForm.get('vehicledata_tire_pressure')?.errors &&
              updateForm.get('vehicledata_tire_pressure')?.touched
            "
            message="Campo pressão dos pneus obrigatório"
          ></app-message>
        </div>

        <button
          type="submit"
          class="btn btn-secondary field-width margin"
          [disabled]="updateForm.invalid"
        >
          Atualizar
        </button>
      </form>
    </div>
  </div>

  <div class="overlay" (click)="openUpdateModal()"></div>
</div>

<ng-template #elseblock>
  <form
    class="form mt-3 form-width"
    [formGroup]="updateForm"
    (ngSubmit)="update()"
  >
    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Código VIN"
        formControlName="vehicledata_vin"
      />
      <app-message
        *ngIf="
  updateForm.get('vehicledata_vin')?.errors?.['required'] &&
  updateForm.get('vehicledata_vin')?.touched
"
        message="Campo código VIN obrigatório"
      ></app-message>
      <app-message
        *ngIf="
  updateForm.get('vehicledata_vin')?.errors?.['minlength'] &&
  updateForm.get('vehicledata_vin')?.touched
"
        message="O código VIN deve possuir 20 caracteres"
      ></app-message>
      <app-message
        *ngIf="
  updateForm.get('vehicledata_vin')?.errors?.['maxlength'] &&
  updateForm.get('vehicledata_vin')?.touched
"
        message="O código VIN deve possuir 20 caracteres"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Odômetro"
        formControlName="vehicledata_odometer"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_odometer')?.errors &&
          updateForm.get('vehicledata_odometer')?.touched
        "
        message="Campo odômetro obrigatório"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Nível de Combustível"
        formControlName="vehicledata_fuel_level"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_fuel_level')?.errors &&
          updateForm.get('vehicledata_fuel_level')?.touched
        "
        message="Campo nível de combustível obrigatório"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Status"
        formControlName="vehicledata_status"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_status')?.errors &&
          updateForm.get('vehicledata_status')?.touched
        "
        message="Campo status obrigatório"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Latitude"
        formControlName="vehicledata_lat"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_lat')?.errors &&
          updateForm.get('vehicledata_lat')?.touched
        "
        message="Campo latitude obrigatório"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Longitude"
        formControlName="vehicledata_long"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_long')?.errors &&
          updateForm.get('vehicledata_long')?.touched
        "
        message="Campo longitude obrigatório"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Status da Bateria"
        formControlName="vehicledata_battery_status"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_battery_status')?.errors &&
          updateForm.get('vehicledata_battery_status')?.touched
        "
        message="Campo status da bateria obrigatório"
      ></app-message>
    </div>

    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Pressão dos pneus"
        formControlName="vehicledata_tire_pressure"
      />
      <app-message
        *ngIf="
          updateForm.get('vehicledata_tire_pressure')?.errors &&
          updateForm.get('vehicledata_tire_pressure')?.touched
        "
        message="Campo pressão dos pneus obrigatório"
      ></app-message>
    </div>

    <button
      type="submit"
      class="btn btn-secondary field-width margin"
      [disabled]="updateForm.invalid"
    >
      Atualizar
    </button>
  </form>
</ng-template>
